<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Techshop_Review::review" title="Techshop Review" sortOrder="10">
                    <resource id="Techshop_Review::manage_review" title="Manage Reviews" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
